.container {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
	grid-template-rows: 1fr;
}

.container div {
    background-color: grey;
    border: 1px solid #727375;
    width: 20em;
    height: 20em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /*padding: 2em;*/
    /*margin: auto;*/
}

.container div img {
    /*position: relative;*/
    /*width: 10%;
    height: 5%;*/
    /*width: 100px;
    height: 100px;
    padding: 100px;
    margin: 10px;*/
    width: 5em;
    height: 5em;    
    /*padding: 1em;
    margin: 1em;*/
    /*align-items: center;*/
}