body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}
.container {
	height: 100%;
	width: 100%;
	background-image: url(header.jpg);
	background-size: 100% 100%;
	margin-bottom: -30px;
	border: 2px solid red;

}
.button {
	display: flex;
	height: 30px;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 55%;
	border: 3px solid white;

}
.btn{
	cursor: pointer;
	background-color: #F05F44;
	border-radius: 300px;
}
.boiler {
	color:white;
	text-align: center;
	font-size: 1.5em;
	position: relative;
	top:35%;
	border: 4px solid blue;
}